p.peclass{
    background-color: blue;
    color: magenta;
    border-radius: 13px;
}
p#peid{
    background-color: rgb(136, 136, 249);
    color: rgb(86, 3, 86);
    border-radius: 23px;
    margin-right: 40%;
}
p.pclass{
    background-color: blue;
    color: magenta;
    border-radius: 13px;
}